<ion-content>
  <div class="auth-page">
    <form class="auth-form" [formGroup]="forgotPasswordForm" (ngSubmit)="reqestReset()" novalidate role="form">
      <img class="auth-form__image" src="assets/icon/favicon.ico" role="img" />
      <h1 class="auth-form__title">Request password reset</h1>
      <ion-list no-lines>
        <ion-item class="auth-form__group">
          <ion-label floating for="email" id="emailLabel">Email *</ion-label>
          <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="emailLabel" aria-required="true" formControlName="email"
            id="email" required type="email"></ion-input>
        </ion-item>
        <div class="form__message" *ngIf="forgotPasswordForm.invalid && email.touched && email.errors?.required">Please enter your email.</div>
        <div class="form__message" *ngIf="email.dirty && email.errors?.email">Please enter a valid email address.</div>
        <br>
        <button block [disabled]="forgotPasswordForm.invalid" ion-button role="button" type="submit">Send request</button>
        <div class="auth-form__links">
          <button clear (click)="login()" ion-button role="button" type="button">Cancel</button>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>